<html>
   <body>
      <form action="/upload" accept-charset="utf-8" class="simform" method="POST" enctype = "multipart/form-data">
         <p> Starting Date <input type = "date" name = "date1" />
         <p> Starting Time <input type = "time" name = "time1" /> 
         <p> End Date <input type = "date" name = "date2" />
         <p> End Time <input type = "time" name = "time2" /> 
         <p> Upload CSV File <input type = "file" name = "File" />  
         <input type = "submit" value = "Submit" />
      </form>
   </body>
</html>